body {
    background-color: #ceb38d;
}

::-webkit-scrollbar {
    width: 13px;
}

::-webkit-scrollbar-track{
    background: #ceb38d;
}

::-webkit-scrollbar-thumb{
    background: #a58767;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover{
    background: #94785F;
}

.flex-container {
    display: flex;
    flex-wrap: nowrap;
    background-color: #a58767;
    position: relative;
    border-radius: 30px 30px 30px 0px;
}
.flex-container > span {
    text-align: center;
    width: 50px;
    margin: 15px;
    position: relative;
    left: 90px;
    color: #DFD6A3;
    font-size: 21px;
    font-weight: bolder;
}

.drop {
    color: #DFD6A3;
    text-align: center;
    font-size: 21px;
    border: none;
    cursor: pointer;
}


.dropdown {
    text-align: center;
    width: 50px;
    margin: 15px;
    position: relative;
    left: 90px;
    color: #DFD6A3;
    font-size: 21px;
    font-weight: bolder;
    display: inline;
}

.dropdown-content {
    display: none;
    position: absolute;
    left: -100%;
    background-color: #a58767;
    min-width: 160px;
    /*box-shadow: 0px 8px 16px 0px #94785F;*/
    z-index: 1;
    border-radius: 0px 0px 15px 15px;
}

.dropdown-content > a {
    color: #DFD6A3;
    padding: 6px 8px;
    font-size: 18px;
    text-decoration: none;
    display: block;
}

.dropdown-content > a:hover {
    color: #feffb7;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .drop{
    color: #feffb7;
}

#img1 {
    width: 30px;
    height: 30px;
    margin: 10px;
    position: absolute;
    right: 140px;
    margin-right: 10px;
}

#img1_hov {
    width: 30px;
    height: 30px;
    margin: 10px;
    position: absolute;
    right: 140px;
    margin-right: 10px;
    display: none;
}

.flex-container > div:hover #img1_hov{
    display: inline-block;
}

#img2 {
    width: 30px;
    height: 30px;
    margin: 10px;
    position: absolute;
    right: 100px;
    margin-left: 10px;
}

#img2_hov {
    width: 30px;
    height: 30px;
    margin: 10px;
    position: absolute;
    right: 100px;
    margin-left: 10px;
    display: none;
}

.flex-container > div:hover #img2_hov{
    display: inline-block;
}


.flex-container >img {
    width: 30px;
    height: 30px;
    margin: 5px;
    position: absolute;
    right: 400px;
}

.flex-container > span > a:link{
    color: #DFD6A3;
    text-decoration: none;
}

.flex-container > span > a:visited{
    color: #DFD6A3;
    text-decoration: none;
}

.flex-container > span > a:hover{
    color: #feffb7;
}

* {
    box-sizing: border-box;
}

.meniu {
    width: 20%;
    max-width: 200px;
    display: block;
    float: left;
    position: relative;
    background-clip: border-box;
    border-radius: 0px 0px 30px 30px;
    background-color:#a58767 ;
}

.meniu > div {
    font-size: 15px;
    font-weight: bold;
    color: #954a14;
    max-width: 200px;
    padding: 10px;
    position: relative;
    text-align: center;
}

.meniu a:link {
    color: #954a14;
    text-decoration: none;
}

.meniu a:visited {
    color: #954a14;
    text-decoration: none;
}

.meniu a:hover {
    color: #74271C;
    text-decoration: none;
}

iframe{
    border: none;
    margin: auto;
    position: relative;
    float: right;
    width: 80%;
    height: 850px;
}

